{
    "token":    "YOUR_TOKEN_HERE",
    "clientId": "APPLICATION_CLIENTID_HERE",

    "botChannels" : {
        "newCV" : "",
        "sourceCVs" : "",
        "newBill" : ""
    },

    "DB" : {
        "database" : "burgerboss",
        "user" : "burgerboss",
        "password" : "password",
        "host" : "localhost",
        "dialect" : "sqlite",
        "storage" : "burgerboss.sqlite",

        "logging" : false,
        "loggingDev" : false
    }
}